.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:ital,wght@1,700&family=Titillium+Web&display=swap');

h1, h2 {
	font-family: 'Comfortaa', cursive;
}

:root {
  --animate-delay: 0.5s;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
}

.portfolioPic{
	filter: blur(1px) brightness(65%);
	border: white 1px;
}

.portfolioPic:hover {filter: none;}

.btn:hover {
	filter: contrast(150%);
}

svg {
	color: white;
}
a img {
	filter: invert(100%);
  -webkit-filter: invert(100%);
	height: 20px;
}

#facepic {
	max-height: 300px;
}